altgraph==0.17
dataclasses==0.8
et-xmlfile==1.1.0
fbs==0.9.4
future==0.18.2
greenlet==1.1.0
importlib-metadata==4.0.1
macholib==1.14
nepali-datetime==1.0.6
openpyxl==3.0.7
pefile==2021.5.13
PyInstaller==3.4
PySide2==5.15.2
pywin32-ctypes==0.2.0
shiboken2==5.15.2
shiboken6==6.1.0
SQLAlchemy==1.4.15
typing-extensions==3.10.0.0
zipp==3.4.1
